@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}

.search-block {
  background-image: url('./assets/cat-wiki-master/HeroImagesm.png');
  background-size: cover;
}

.logo-cat-1 {
  width: 46px;
}

.logo-cat-2 {
  display: none;
}

.icon-search > * {
  width: 16px;
  height: 16px;
}

.score {
  @apply flex items-center justify-between xl:w-4/5;
}

@media only screen and (min-width: 768px) {
  .search-block {
    background-image: url('./assets/cat-wiki-master/HeroImagemd.png');
  }

  .logo-cat-1 {
    width: 92px;
  }

  .logo-cat-2 {
    display: block;
    width: 46px;
  }

  .icon-search > * {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .search-block {
    background-image: url('./assets/cat-wiki-master/HeroImagelg.png');
  }

  .logo-cat-1 {
    width: 207px;
  }

  .logo-cat-2 {
    display: block;
    width: 80px;
  }

  .icon-search > * {
    width: 24px;
    height: 24px;
  }
}
